<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- 공통 VO 입력 -->
		<typeAlias type="com.hworld.base.util.Pager" alias="Pager"/>
		<typeAlias type="java.lang.Integer" alias="Integer"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
		
		<!-- 개별 VO 입력 -->
		<!-- ApplicationForm -->
		<typeAlias type="com.hworld.base.vo.ApplicationVO" alias="ApplicationVO"/>
		
		<!-- Member -->
		<typeAlias type="com.hworld.base.vo.MemberVO" alias="MemberVO"/>		
		
		<!-- Direct -->
		<typeAlias type="com.hworld.base.vo.DirectVO" alias="DirectVO"/>
		<typeAlias type="com.hworld.base.vo.PlanVO" alias="PlanVO"/>
		<typeAlias type="com.hworld.base.vo.ExtraPlanVO" alias="ExtraPlanVO"/>
		<typeAlias type="com.hworld.base.vo.OtherTelecomVO" alias="OtherTelecomVO"/>
		
		<typeAlias type="com.hworld.base.vo.ReviewVO" alias="ReviewVO"/>
		<typeAlias type="com.hworld.base.vo.OrderVO" alias="OrderVO"/>
		<typeAlias type="com.hworld.base.vo.OrderDirectVO" alias="OrderDirectVO"/>
		<typeAlias type="com.hworld.base.vo.CartVO" alias="CartVO"/>
		<typeAlias type="com.hworld.base.vo.BaseVO" alias="BaseVO"/>
		<typeAlias type="com.hworld.base.vo.PayVO" alias="PayVO"/>
		
		<!-- Telephone -->
		<typeAlias type="com.hworld.base.vo.TelephoneVO" alias="TelephoneVO"/>
		
		<!-- Board -->
		<typeAlias type="com.hworld.base.vo.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.hworld.base.vo.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.hworld.base.vo.QnaVO" alias="QnaVO"/>
		
		<!-- Payment -->
		<typeAlias type="com.hworld.base.vo.BillVO" alias="BillVO"/>
		
	</typeAliases>
</configuration>