<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.hworld.base.dao.CartDAO">
  	<!-- 카트 추가 -->
	<insert id="setInsert">
		insert into CART(memberNum, directCode, cartAmount)
		values(#{memberNum}, #{directCode}, #{cartAmount}) 
	</insert>
	
	<!--카트 항목 삭제 -->
	<delete id="setDelete" parameterType="CartVO">
	  delete from CART where directCode = #{directCode} 
	  and memberNum = #{memberNum}
	</delete>
	

	
	<!-- 카트 수량 수정 -->
	<update id="setUpdate">
		update CART set cartAmount=#{cartAmount} where cartNum = #{cartNum}
	</update>
	
	
	<!-- 카트 수량 -->
	<select id="getCartCount" resultType="CartVO">
		SELECT COUNT(directCode) AS cartCount
		FROM CART
		WHERE memberNum = #{memberNum}
	</select>
	
	
	
	<!-- 카트 목록 -->
	<select id="getCartList" resultType="CartVO">
		select a.CARTNUM, a.memberNum, a.directCode, a.cartAmount, b.directName, b.directPrice, b.brandCode, b.colorCode
		from CART a left outer join DIRECT b on a.directCode = b.directCode
		where memberNum = #{memberNum}	
	</select>
	
	
	<!-- 카트 확인 -->
	<select id="checkCart" resultType="CartVO">
		select * from CART
		where memberNum = #{memberNum} and directCode = #{directCode}
	</select>
	
  </mapper>