<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.hworld.base.dao.OrderDAO">
  
  	<select id="getList" resultType="OrderVO">
    SELECT SUBSTRING(D.directCode, -5) AS slicedCode, D.*, OD.*
    	FROM DIRECT D
	    LEFT JOIN ORDERDIRECT OD ON SUBSTRING(D.directCode, -5) = SUBSTRING(OD.DIRECTCODE, -5)
	</select>
	
	<select id="getDetail" resultType="OrderVO">
    SELECT SUBSTRING(D.directCode, -5) AS slicedCode, D.*, OD.*
    	FROM DIRECT D
	    LEFT JOIN ORDERDIRECT OD ON SUBSTRING(D.directCode, -5) = SUBSTRING(OD.DIRECTCODE, -5)
	</select>
	
	<insert id="setInsert" parameterType="OrderDirectVO">
	  INSERT INTO ORDERDIRECT (DIRECTCODE, ORDERNUM, MEMBERNUM, ORDERAMOUNT)
	  VALUES (#{directCode}, NULL, #{memberNum}, #{orderAmount});
	
	  <selectKey keyProperty="orderNum" order="AFTER" resultType="int">
	    SELECT MAX(ORDERNUM) FROM ORDERDIRECT
	  </selectKey>
	
	  INSERT INTO ORDERS (ORDERNUM, MEMBERNUM, ORDERDATE, ORDERSTATE, ORDERRECEIVER,
	    ORDERADDRESS1, ORDERADDRESS2, ORDERADDRESS3, ORDERTELNUM)
	  VALUES (#{orderNum}, #{memberNum}, NOW(), #{orderState}, #{orderReceiver},
	    #{orderAddress1}, #{orderAddress2}, #{orderAddress3}, #{orderTelNum});
	</insert>
	
	<!-- 주문 테이블 등록 -->
	<insert id="setInsert" parameterType="OrderVO">
		INSERT INTO ORDERS (ORDERNUM, MEMBERNUM, ORDERDATE, ORDERSTATE, ORDERRECEIVER, ORDERADDRESS1, ORDERADDRESS2, ORDERADDRESS3, ORDERTELNUM)
	  	VALUES (#{orderNum}, #{memberNum}, NOW(), #{orderState}, #{orderReceiver}, #{orderAddress1}, #{orderAddress2}, #{orderAddress3}, #{orderTelNum});	
	</insert>	
	
	<!-- 주문 아이템 테이블 등록 -->
	<insert id="setODInsert" parameterType="OrderDirectVO">
		INSERT INTO ORDERDIRECT (DIRECTCODE, ORDERNUM, MEMBERNUM, ORDERAMOUNT)
	  	VALUES (#{directCode}, NULL, #{memberNum}, #{orderAmount});
	</insert>	
	
	
  </mapper>