<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.hworld.base.dao.PlanDAO">
 
 <select id="getPlanList" resultType="PlanVO">
 	SELECT P.*, CC.NOTE AS note, CC.TYPE AS type
	FROM PLAN P
	INNER JOIN COMMONCODE CC ON (P.CATEGORYCODE = CC.CODE)
	WHERE (P.PLANNUM LIKE CONCAT(CC.TYPE, '%'))
 </select>
 
 <select id="getDetail" resultType="PlanVO" parameterType="PlanVO">
 	SELECT * FROM PLAN
 	WHERE PLANNUM=#{planNum}
 </select>
 
 <select id="getCommonCode" resultType="BaseVO">
 	SELECT * FROM COMMONCODE
 	WHERE TYPE = #{type} 
 </select>
 
 <select id="getNoteName" resultType="PlanVO">
 	SELECT DISTINCT CC.NOTE AS note
 	FROM PLAN P
 	LEFT JOIN COMMONCODE CC ON (P.CATEGORYCODE = CC.CODE) AND (CC.TYPE = SUBSTRING(#{planNum},1,1))
 	WHERE P.PLANNUM = #{planNum}
 
 </select>
 
 <insert id="setPlanAdd" parameterType="PlanVO">
 	INSERT INTO PLAN (PLANNUM, DISCODE, PLANNAME, PLANPRICE, DATACAPACITY, CATEGORYCODE, PLANEXPLAIN, PLANEXPLAINS, PLANEXPLAINM)
 	VALUES(#{planNum},#{disCode}, #{planName}, #{planPrice}, #{dataCapacity}, #{categoryCode}, #{planExplain}, #{planExplainS}, #{PlanExplainM})
 </insert>
 
 <update id="setPlanUpdate" parameterType="PlanVO">
 	UPDATE PLAN 
 	SET DISCODE=#{disCode}, PLANNAME=#{planName}, PLANPRICE=#{planPrice}, DATACAPACITY=#{dataCapacity},CATEGORYCODE=#{categoryCode}, PLANEXPLAIN=#{planExplain}, PLANEXPLAINS=#{planExplainS},PLANEXPLAINM=#{planExplainM})
 </update>
 
 <delete id="setPlanDelete" parameterType="PlanVO">
 	DELETE FROM PLAN WHERE PLANNUM=#{planNum}
 </delete>
 
 
 <select id="getEPlanList" resultType="EPlanVO">
 	SELECT * FROM EPLAN;
 </select>
 
 <select id="getEPlanDetail" resultType="EPlanVO" parameterType="EPlanVO">
 	SELECT * FROM EPLAN
 	WHERE EPLANNUM=#{ePlanNum}
 
 </select>
 
 <!-- <insert id="setEPlanAdd" parameterType="EPlanVO">
 	INSERT INTO EPLAN
 	VALUES()
 </insert>
  -->
  <!--  5G요금제 -->
 <!--<select id="getGeneralList" resultType="PlanVO" >
 	SELECT P.*, CC.NOTE AS note, CC.TYPE AS type
	FROM PLAN2 P
	INNER JOIN COMMONCODE CC ON (P.CATEGORYCODE = CC.CODE)
	WHERE P.PLANNUM LIKE 'G%' AND CC.TYPE = 'G'
 </select>
  시니어 요금제
 <select id="getSeniorList" resultType="PlanVO">
 	SELECT P.*, CC.NOTE AS note, CC.TYPE AS type
	FROM PLAN2 P
	INNER JOIN COMMONCODE CC ON (P.CATEGORYCODE = CC.CODE)
	WHERE P.PLANNUM LIKE 'S%' AND CC.TYPE = 'S'
 </select>
 
 Teen 요금제
 <select id="getTeenList" resultType="PlanVO">
 	SELECT P.*, CC.NOTE AS note, CC.TYPE AS type
	FROM PLAN2 P
	INNER JOIN COMMONCODE CC ON (P.CATEGORYCODE = CC.CODE)
	WHERE P.PLANNUM LIKE 'T%' AND CC.TYPE = 'T'
 </select>
  	 ZEM 요금제
 <select id="getZemList" resultType="PlanVO">
 	SELECT P.*, CC.NOTE AS note, CC.TYPE AS type
	FROM PLAN2 P
	INNER JOIN COMMONCODE CC ON (P.CATEGORYCODE = CC.CODE)
	WHERE P.PLANNUM LIKE 'Z%' AND CC.TYPE = 'Z'
 </select>
  	 복지 요금제
  <select id="getWelfareList" resultType="PlanVO">
 	SELECT P.*, CC.NOTE AS note, CC.TYPE AS type
	FROM PLAN2 P
	INNER JOIN COMMONCODE CC ON (P.CATEGORYCODE = CC.CODE)
	WHERE P.PLANNUM LIKE 'W%' AND CC.TYPE = 'W'
 </select>
  	군인요금제
 <select id="getHeroList" resultType="PlanVO">
 	SELECT P.*, CC.NOTE AS note, CC.TYPE AS type
	FROM PLAN2 P
	INNER JOIN COMMONCODE CC ON (P.CATEGORYCODE = CC.CODE)
	WHERE P.PLANNUM LIKE 'H%' AND CC.TYPE = 'H'
 </select> -->

</mapper>