<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hworld.base.dao.QnaDAO">

	<insert id="setInsert" parameterType="QnaVO">
		INSERT INTO QNA (MEMBERNUM, TITLE, CONTENTS, REGDATE, STATE, CATEGORYCODE)
		VALUES (#{memberNum}, 
		<if test="serialNum != null">
			#{serialNum},
		</if>
		#{title}, #{contents}, NOW(), 1, #{categoryCode})
	</insert>
	
	<select id="getTelephoneList" parameterType="TelephoneVO" resultType="TelephoneVO">
		SELECT SERIALNUM, PHONENUM, PHONENAME FROM TELEPHONE
		WHERE MEMBERNUM = #{memberNum}
	</select>
	
</mapper>